<!DOCTYPE html>
<html>
  <head>
    <%- include('../shared/head', { title: "Projeto torne-se um programador - Vagas" }) %>
  </head>
  <body class="home">
    <%- include('../shared/header', {display_loading: 'none'}) %>
    <div class="container">
      <div class="buttons vagas">
         <a class="button" href="/">Voltar</a>
      </div>
    </div>
    <%- include('../shared/adsense') %>
    <div class="container pague">
      <div>
        <ul id="vagas">
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 15/12/2015<br>
                  Analista desenvolvedor júnior <br>
                </h2>
                Interessados mandar o currículo para: nathalia.gavazzoni@grupomarista.org.br
                <br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 15/12/2015<br>
                  Analista de sistemas pleno <br>
                </h2>
                - Curso superior ou técnico na área de informática  <br>
                - Experiências em HTML, ASP.NET, VB, VB Script, Java, Javascript, eclipse, MS SQL Server <br>
                - Salários de R$ 3000 a R$ 4500 <br>
                Interessados mandar o currículo para: sergio@seekrh.com.br
                <br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 10/12/2015<br>
                  FULLSTACK DEVELOPER RUBY (ALPHAVILLE – SP) <br>
                </h2>
                - Mais de 4 anos de experiência com Ruby  <br>
                - AngularJS e NodeJS - Construções de API, Micro-Serviços <br>
                - Integração Contínua com Jenkins <br>
                - Experiência com MongoDB <br>
                - Desenvolvimento Ágil<br><br>
                Interessados mandar o currículo para: silvio.martins@iventis.com.br
                <br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 10/12/2015<br>
                  DESENVOLVEDOR RUBY PLENO (BERRINI – SÃO PAULO) <br>
                </h2>
                - Desenvolvimento de aplicações Ruby e Ruby on Rails (1+ ano) <br>
                - RSpec e Travis CI (6+ meses) <br>
                - Experiência em desenvolvimento de front end consumindo APIs <br>
                - SOA, RESTfull Webservices, SOAP, HATEOAS, HTTP <br>
                - MVC e outros padrões de projeto <br>
                - Bancos de dados relacionais, preferência: MySQL (1+ ano) <br>
                - HTML, CSS e Javascript (1+ ano) <br>
                - Controladores de versão, preferência: Git<br><br>
                Interessados mandar o currículo para: silvio.martins@iventis.com.br
                <br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 10/12/2015<br>
                  DESENVOLVEDOR RUBY JUNIOR (BERRINI – SÃO PAULO) <br>
                </h2>
                - Ruby e Ruby on Rails  <br>
                - Conhecimentos no MVC e outros padrões de projeto  <br>
                - Conhecimento em Bancos de dados relacionais, preferência: MySQL  <br>
                - Conhecimentos em HTML, CSS e Javascript  <br>
                - Conhecimentos de git <br> <br>
                Interessados mandar o currículo para: silvio.martins@iventis.com.br
                <br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 10/12/2015<br>
                  Analista de testes <br>
                </h2>
                Vaga para Porto Alegre: Interessados podem enviar o currículo com pretensão salarial para pamelajulius@hotmail.com.<br>
                <br>
                <a href="https://www.linkedin.com/hp/update/6080835919798161408" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 09/12/2015<br>
                  Desenvolvedor iOS <br>
                </h2>
                Interessados enviar c.v para: renata@tiviati.com.br<br>
                <br>
                <a href="https://www.linkedin.com/hp/update/6080053177078542336" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 09/12/2015<br>
                  Desenvolvedor PHP pleno ou sênior <br>
                </h2>
                Interessados enviar c.v para: gabriel.tokunaga@5a.com.br<br>
                <br>
                <a href="https://www.linkedin.com/hp/update/6077786887488098304" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 09/12/2015<br>
                  Analista Programador Ruby Junior <br>
                </h2>
                Interessados enviar c.v para: recrutamento@iventis.com.br<br>
                <br>
                <a href="https://www.linkedin.com/hp/update/6080042397180448768" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 03/12/2015<br>
                  Analista Programador <br>
                </h2>
                Interessados enviar c.v para: nubia@mazzatech.com.br<br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 03/12/2015<br>
                  Analista de testes <br>
                </h2>
                A Datum TI está com ótima oportunidade para ANALISTA DE TESTES em Porto Alegre/RS. Interessados<br> preencher cadastro no site: <a href="http://datum.inf.br/portal/cadastro/" target="_blank">www.datum.inf.br</a> <br>
                <br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 28/11/2015<br>
                  Desenvolvedor Java - Backend <br>
                </h2>
                Requisitos principais: Java, Spring, Apache Camel, AngularJS, inglês avançado.<br>
                Envie seu currículo para hiring@daitangroup.com para maiores detalhes! <br>
                <br>
                <a href="https://www.linkedin.com/hp/update/6075352002739654656" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 28/11/2015<br>
                  Desenvolvedor Java (Pleno e Sênior)<br>
                </h2>
                

                Experiência mínima de 3 anos com Java Web, Sring, JSE, J2EE, Scrum, MVC. <br>
                Região de atuação: Zona Sul SP - Cliente de grande porte, estrutura dinâmica,<br> 
                horários flexíveis e plano de carreira.<br>
                <br>
                Interessados encaminhar CV para marianasantos@boldint.com<br>

                <br>
                <a href="https://www.linkedin.com/hp/update/6074559874073653248" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 28/11/2015<br>
                  Programador Front-end<br>
                </h2>
                HTML, JavaScript, Css, jQuery<br>

                <br>
                <a href="https://www.linkedin.com/hp/update/6075620838613221376" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>
                  Data: 28/11/2015<br>
                  Desenvolvedor Front-end<br>
                </h2>
                Experiência mínima de 3 anos com HTML, CSS, Javascript, Jquery.<br>
                Região de atuação: Zona Norte SP - Cliente de grande porte, estrutura dinâmica,<br>
                horários flexíveis e plano de carreira.<br><br>
                Interessados encaminhar CV para marianasantos@boldint.com<br>

                <br>
                <a href="https://www.linkedin.com/hp/update/6074560258049601536" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>Data: 18/11/2015<br>

                Programador Sênior ou especialista.<br>
                </h2>
                <br>
                Linguagens que a empresa utiliza:  Ruby, Rails, Python, Scala, Java, PostgreSQL, Oracle, ElasticSearch, Docker e AWS.   <br> 
                <br>
                Principais responsabilidades do cargo:   <br>
                • Realizar atividades pertinentes à área de Administração de Banco de Dados (Oracle, Postgres, MySql, dentre outras).<br>   
                • Trabalhar juntamente com usuários e analistas no desenvolvimento das especificações e design do banco de dados.   <br>
                • Liderar projetos de desenvolvimento de banco e demais estruturas de dados. <br>
                • Manter a segurança e integridade dos dados depositados e da infraestrutura que os sustenta.  <br>
                • Desenvolver soluções de dados criativas para os problemas estratégicos, condução da aquisição de dados, colaborando com soluções para armazenamento, seleção, pré-processamento e formatação.   <br>
                Cadastre-se nesta oportunidade, se você possui:  <br>
                • Identificação com a nossa visão e valores.  <br>
                • Experiência com administração de Bancos de dados relacionais (Oracle, PostgreSQL, SQLServer).  <br>
                • Experiência em análise de problemas e tuning de banco de dados.  <br>
                • Experiência com gerenciamento de Backup e Recovery. <br>
                • Experiência com manipulação de grande volume de dados.  <br>
                • Conhecimento de infraestrutura (SO: Linux, Windows, Hw, Redes).   Por que a Bionexo faz a diferença para você? Porque ela possui:  <br>
                • Salários e benefícios atrativos, e horário flexível.   <br>
                • Equipes colaborativas e de alta performance, as quais encontram um espaço de contribuição ativa para a resolução de demandas e melhorias.  <br>
                • Soluções inteligentes para a gestão de compras, agregando valor ao cliente e a comunidade ao fortalecer valores éticos nas relações de saúde<br>
                <br>
                Contato: Luana Godas - <br>
                <a href="https://br.linkedin.com/in/luana-godas-15aa745a" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
                <h2>Data: 13/11/2015<br>
                Estágio em WEBDESIGN<br>
                </h2>
                <br>
                <a href="https://www.linkedin.com/hp/update/6070892408520871936" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Vaga Desenvolvedor Java Sênior Elo7<br>
              </h2>
                <br>
                <a href="https://www.linkedin.com/jobs2/view/79645683" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Vagas Urgentes para QA - Atuar na Zona sul de São Paulo.<br>
              </h2>
                Automação em testes (Selenium e mobile) Scrum<br>
                Inglês intermediário<br>
                Interessados enviar CV para Helen.matos@5a.com.br<br>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Desenvolvedor PHP Junior<br>
              </h2>
                Dados da vaga:<br>
                Forma de Contratação: CLT + Benefícios <br>
                Local de trabalho: Região da Santa Cecilia – São Paulo – SP<br>
                Requisitos Obrigatórios:<br>
                2 anos atuando com PHP<br>
                PHP<br>
                OO<br>
                MySQL OU SQL Server<br>
                Conhecimento com Frameworks PHP<br>
                Jquery<br>
                Ajax<br>
                CSS<br>
                HTML<br>
                Contato: wagner.silva@5a.com.br
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Arquiteto de sistemas<br>
              </h2>
                <br>
                <a href="https://www.linkedin.com/hp/update/6069830253377777664" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Arquiteto da informação<br>
              </h2>
                <br>
                <a href="https://www.linkedin.com/hp/update/6070204718666305536" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Coordenador de sistemas<br>
              </h2>
                <br>
                <a href="https://www.linkedin.com/hp/update/6068769442404323328" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
          <li>
            <div class="vaga">
              <p>
              <h2>
                Data: 13/11/2015<br>
                Programador Ruby Pleno/Sênior<br>
              </h2>
                <br>
                <a href="https://www.linkedin.com/hp/update/6069827892907372544" target="_blank">
                  Link vaga
                </a>
              </p>
            </div>
          </li>
        </ul>
      </div>
      <div class="voltarTopo">
        <a href="#">
          <img src="/imagens/voltar-topo.png">
        </a>
      </div>
    </div>
    <%- include('../shared/adsense') %>
    <%- include('../shared/footer') %>
  </body>
</html>
